@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: white;
}

.heading{
  font-family: "Poppins";
}

.grid-main{
  display: grid;
  grid-template-columns:auto auto;
  gap:15px;
  margin-top: 40px;

}
.grid-child h3{
font-family: Poppins;
font-weight: 700;
}
.grid-child p{
font-family: Poppins;
font-weight: 500;
font-size: 15px;
}

.grid-child{
  border:1px solid whitesmoke;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

.grid-child:hover{
  background-color: whitesmoke;
  color:black;
  transition: .1s all linear;
}
.promptArea{
  font-size: 15px;
  font-weight: 400;
  font-family: Poppins;
  padding: 10px;
}